* {
	margin: 0;
	padding: 0;
}

body {
	font-size: 1.5em;
    font-weight: 600;
    font-family: verdana;
}

div {
	border: 2px solid #000;
}

.button-container {
	border: none;
}

.outside-border {
    width: 400px;
    margin: 0 auto;
	text-align: center;
	margin-top: 100px;
}

.button {
    width: 20%;
    display: inline-block;
    margin: 10px 0;
    padding: 10px 0;
}

.reset, .field {
    height: 30px;
	display: inline-block;
	float: left;	
}

.field {
	width: 260px;
    margin: 7px 0;
    border: none;
    text-align: right;
}

.reset {
    width: 30px;
    margin: 7px;
}

.field:after {
	clear: both;
}

.main-tablo, .button-container {
	width: 80%;
    margin: 15px auto;
}

.main-tablo {
	height: 48px;
}

.button:hover, .reset:hover {
	background-color: black;
	color: white;
	cursor: pointer;
}